.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 1px
    margin-bottom: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


table.rezerwacje{
    font-size: 12px;
    text-align: center;

}

table.rezerwacje td {
      padding: 5px;
  }

table.listakierowcow{

  text-align: center;

}
table.listakierowcow td {
    padding: 5px;
}
