{% extends 'busreserv/base.html' %}

{% block content %}

	{% if not buses %}
		<h2>No avilable buses :(, try another time.)</h2>
	{% endif %}

	{% for Bus in buses %}
            <div class="bus">
				<h2>Model: {{ Bus.brand }}</h2>
				<p>Plate: {{ Bus.plate_nr }}</p>
				<p>Capacity: {{ Bus.people_capacity }}</p>
				<p>Price/km: {{ Bus.price_per_km }}</p>

				<p>Description: {{ Bus.description }}</p>

				<a href="{% url 'newreservation_name' pk=Bus.pk %}"><button type="button" class="btn btn-primary btn-md">Reservation</button> </a>
		    </div>
	{% endfor %}
{% endblock content %}
