{% extends 'busreserv/base.html' %}

{% block content %}

<script>
{% if messages %}
    {% for message in messages %}
        alert(message);
    {% endfor %}
{% endif %}
</script>

    <h1>New reservation</h1>
    <div class="bus"
    <p>Model: {{ bus.brand }}</p>
    <p>Plate: {{ bus.plate_nr }}</p>
    <p>Capacity: {{ bus.people_capacity }}</p>
    <p>Price/km: {{ bus.price_per_km }}</p>

    <p>Description: {{ bus.description }}</p>

    <form method="POST" class="post-form">{% csrf_token %}


        {{ formReservation.as_p }}

        <button type="submit" class="btn btn-primary btn-md">Book it</button>
    </form>


{% endblock %}
