{% extends 'busreserv/base.html' %}


{% block content %}
		
	
		<h2><a href="{% url 'new_vehicle_name' %}">Add new vehice</a></h2>

		

		{% for Bus in buses %}
			    <div class="bus">
				<h2>Model: {{ Bus.brand }}</h2>
				<p>Plate: {{ Bus.plate_nr }}</p>
				<p>Capacity: {{ Bus.people_capacity }}</p>
				<p>Price/km: {{ Bus.price_per_km }}</p>
				
				<p>Description: {{ Bus.description }}</p>
				<p>Available for cutomers: {{Bus.available_for_cutomers}}</p>
		

			    </div>
		{% endfor %}
{% endblock content %}
