<html>
    <head>
        <title>Bus reservation "JanuszTrans"</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bus reservation "JanuszTrans"</a></h1>
        </div>

        <div>
            
            <h2><a href="">Przykładowy teks 1</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <h2><a href="">pzykladowy tekst 2</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
